name: GitHub Metrics

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: Serhat-PAMUK
          base: ""
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year
          filename: metrics.plugin.isocalendar.fullyear.svg
